* {
	margin: 0;
}
nav {
	text-align: center;
	background-color: #c4ea97;
}
nav ul {
	list-style-type: none;
	padding: 0;
	text-transform: uppercase;
	display: flex;
}
nav ul li {
	width: 100%;
	padding: 15px 0;
}
header {
	text-align: center;
  margin: 5%;
}
main {
	height: 2000px;
}
.sticky-nav {
	position: fixed;
  width: 100%;
  top: 0;
}
.red {
	background-color: red;
	transition: all 1s;
}
